<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} // {{ site.description }}</title>

    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <nav class="navigation">
        {% if page.layout == 'list' %}
            {% assign total = site.docs
                | where: 'layout', 'docs'
                | where: 'type', page.title
                | where_exp: 'g', 'g.hidden != true' %}
            {% capture tagline %}{{total.size}} in total{% endcapture %}
        {% else %}
            {% assign tagline = page.type %}
        {% endif %}
        <h1 class="navigation__brand">{{ page.title | escape }} {% if tagline %}<small>// {{ tagline }}</small>{% endif %}</h1>
        <div class="navigation__links">
            {% for link in site.data.navigation %}
                <a href="{{link.url}}">{{link.title}}</a>
            {% endfor %}
        </div>
    </nav>
    <main>
        {{ content }}
    </main>
</body>
</html>
